<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trading Opportunities</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('newdata', function (msg) {
            generate_table(msg.data);  // Assuming 'msg.data' is the new opportunities data
        });

       function generate_table(data){
        // Clear previous table data
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";

        // Check if data is not empty
        if (!data || data.length === 0) {
            divContainer.innerHTML = "No opportunities available.";
            return;
        }

        // Ensure the data is an array of objects (as expected)
        if (typeof data === 'string') {
            data = JSON.parse(data); // Parse the data from JSON string to JavaScript object
        }

        // Extract column headers. We assume that all objects in 'data' have the same structure
        var colHeaders = Object.keys(data[0]);

        // Create a table element
        var table = document.createElement("table");

        // Create a header row element and append column headers to it
        var tr = table.insertRow(-1);
        for (var i = 0; i < colHeaders.length; i++) {
            var th = document.createElement("th");
            th.innerHTML = colHeaders[i];
            tr.appendChild(th);
        }

        // Add rows for each object in the data array
        for (var i = 0; i < data.length; i++) {
            tr = table.insertRow(-1);
            for (var j = 0; j < colHeaders.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = data[i][colHeaders[j]];
            }
        }

        // Append the created table to the div container
        divContainer.appendChild(table);
    }

    </script>
</head>
<body>
    <h1>Centralized Exchange Arbitrage Opportunities</h1>
    <div id="showData" class="center"></div>
</body>
</html>
